template-beans/src/main/resources/vote.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:beans.template.mycompany.com"
           targetNamespace="urn:beans.template.mycompany.com"
           elementFormDefault="qualified"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="2.1">

    <xs:element name="vote" type="Vote"/>
    <xs:complexType name="Vote">
        <xs:sequence>
            <xs:element name="pollId" type="xs:string"/>
            <xs:element name="competitorId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>